.env
*.env
MoneyTransfer/__pycache__/
*.pyc
*.pyo
*.pyd
venv/.env
venv/
.venv/
pyvenv.cfg
.idea/
Lib/
Scripts/
app/admin/__pycache__
app/migrations/__pycache__
app/models/__pycache__
app/__pycache__
app/serializers/__pycache__
app/services/__pycache__
app/tests/__pycache__
app/views/__pycache__



